<div class='new-message-form'>
  {{input type='text' placeholder='Name' value=name class='name-input'}}
  {{input type='text' placeholder='Picture' value=body class='img-input'}}
  <button {{action 'addImage'}} class='submit'>Submit</button>
</div>
