<div class='new-hike-link'>{{#link-to 'hikes.new'}}Add a new hike{{/link-to}}</div>


{{outlet}}

<ul>
  {{#each hike in model}}
    <li>{{#link-to 'hike' hike.id}}{{hike.name}}{{/link-to}}</li>
  {{/each}}
</ul>
